<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../Build/TemplateData/style.css" />
    <link rel="stylesheet" href="/../Build/TemplateData/about.css" />

    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">
          <img
            src="/assets/images/raddningsmissionen.png"
            class="logo"
            alt="raddningsmissionen-logo"
          />
        </a>
        <ul>
          <li>
            <a href="/index.html" class="home">Hem</a>
            <a href="about.html" class="about">Om oss</a>
            <a href="monthlygiver.html" class="monthly">Månadsgivare</a>
            <a href="volunteer.html" class="volunteer">Volontärer</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="whoAreWe">
      <h1>Vilka är vi?</h1>
    </div>
    <div class="cardWrapper">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/jonathan.PNG"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
            <h1>Jonathan Larsson</h1>
            <p class="utbildning">Webbutvecklare</p>
            <p class="e-mail">Icarium414@gmail.com</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              Jag har tillsammans med resten av gruppen brainstormat fram idén
              som vi valde att gå vidare med. Utöver detta så har jag varit
              delaktig i att diskutera och nå lösningar för dels tekniska - men
              även estetiska och språkliga aspekter av projektet. Jag har även
              designat och utvecklat den här webbsidan för att på bästa sätt
              lyfta vårat bidrag med Räddningsmissionens grafiska profil som
              utgångspunkt.
            </p>
            <div class="socials">
              <span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/brodoe.png"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
            <h1>Julia Palstam</h1>
            <p class="utbildning">UX-Designer</p>
            <p class="e-mail">juliasmail@mail.mail</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              Julia Palstam UX Som UX-designer i detta projekt har jag
              tillsammans med gruppen varit delaktig i en idégenereringsprocess
              där vi tog fram olika idéer till projektet. Genom brainstorming
              och dotvoting kom vi fram till en idé som vi tillsammans var eniga
              om att jobba vidare med och utveckla. Jag har varit ansvarig för
              att skapa en storyboard till vår interaktiva berättelse som
              beskriver miljön, händelseförloppet och interaktionerna.
              Storyboarden har varit en mall för programmeringen för att
              underlättar processen.
            </p>

            <div class="socials"></div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/brodoe.png"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
            <h1>Daniel Nielsen</h1>
            <p class="utbildning">Game Creator Programmer</p>
            <p class="e-mail">daniel@daniel.daniel</p>
          </div>
          <div class="flip-card-back"></div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/brodoe.png"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
            <h1>Linda Davidsson</h1>
            <p class="utbildning">Game Creator Artist</p>
            <p class="e-mail">swaglordx@ballers.dk</p>
          </div>
          <div class="flip-card-back"></div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/brodoe.png"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
            <h1>Martin Lindestaf</h1>
            <p class="utbildning">Manusförfattare</p>
            <p class="e-mail">martinkingswag@hotmale.se</p>
          </div>
          <div class="flip-card-back"></div>
        </div>
      </div>
    </div>
  </body>
</html>
