<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <link rel="stylesheet" href="/assets/styles/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">
          <img
            src="/assets/images/raddningsmissionen.png"
            class="logo"
            alt="raddningsmissionen-logo"
          />
        </a>
        <ul>
          <li>
            <a href="/index.html" class="home">Hem</a>
            <a href="about.html" class="about">Om oss</a>
            <a href="monthlygiver.html" class="monthly">Månadsgivare</a>
            <a href="volunteer.html" class="volunteer">Volontärer</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="whoAreWe">
      <h1>Vilka är vi?</h1>
    </div>
    <div class="cardWrapper">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/jonathan.png"
              alt="Avatar"
              class="avatar"
              style="width: 300px; height: 300px"
            />
            <h1>Jonathan Larsson</h1>
            <p class="utbildning">Webbutvecklare</p>
            <p class="e-mail">Icarium414@gmail.com</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              Jag har tillsammans med resten av gruppen brainstormat fram idén
              som vi valde att gå vidare med. Utöver detta så har jag varit
              delaktig i att diskutera och nå lösningar för dels tekniska - men
              även estetiska och språkliga aspekter av projektet. Jag har även
              designat och utvecklat den här webbsidan för att på bästa sätt
              lyfta vårat bidrag med Räddningsmissionens grafiska profil som
              utgångspunkt.
            </p>
            <div class="socials">
              <a href="https://yrgo.se/webbutvecklare">
                <img src="/assets/images/yrgoicon.png"
              /></a>
              <a href="https://github.com/Icarium2">
                <img src="/assets/images/github.png"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/julia.png"
              alt="Avatar"
              class="avatar"
              style="width: 300px; height: 300px; object-fit: cover"
            />
            <h1>Julia Palstam</h1>
            <p class="utbildning">UX-Designer</p>
            <p class="e-mail">julpal2002@skola.goteborg.se</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              Som UX-designer i detta projekt har jag tillsammans med gruppen
              varit delaktig i en idégenereringsprocess där vi tog fram olika
              idéer till projektet. Genom brainstorming och dotvoting kom vi
              fram till en idé som vi tillsammans var eniga om att jobba vidare
              med och utveckla. Jag har varit ansvarig för att skapa en
              storyboard till vår interaktiva berättelse som beskriver miljön,
              händelseförloppet och interaktionerna. Storyboarden har varit en
              mall för programmeringen för att underlättar processen.
            </p>

            <div class="socials">
              <a href="https://yrgo.se/ux-designer">
                <img src="/assets/images/yrgoicon.png"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/daniel.png"
              alt="Avatar"
              class="avatar"
              style="width: 300px; height: 300px; object-fit: cover"
            />
            <h1>Daniel Nielsen</h1>
            <p class="utbildning">Game Creator Programmer</p>
            <p class="e-mail">daniel@daniel.daniel</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              Var med och brainstormade fram att färger växer fram när spelaren
              göra goda gärningar, och arbetat på det tekniska som till exempel
              filstorlek. Jag programmerade även ihop spelets interaktivitet och
              exporterade det till webscript.
            </p>
            <div class="socials">
              <a
                href="https://www.yrgo.se/utbildningar/game-creator-programmer/"
              >
                <img src="/assets/images/yrgoicon.png"
              /></a>
              <a href="https://github.com/Danielalexandernielsen">
                <img src="/assets/images/github.png"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/linda.png"
              alt="Avatar"
              class="avatar"
              style="width: 300px; height: 300px; object-fit: cover"
            />
            <h1>Linda Davidsson</h1>
            <p class="utbildning">Game Creator Artist</p>
            <p class="e-mail">LindChristDavid@gmail.com</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              Som man kanske kan gissa så har jag skapat grafiken till
              Stadspromenaden! Det jag har behövt fokusera på är att skapa
              karaktärer och omgivningar i en enklare stil, eftersom projektet
              är ganska kort och intensivt. I berättelsen möter du fyra personer
              i behov av hjälp, eller som helt enkelt bara behöver visas lite
              omtanke! Tillsammans med dessa människor och vår huvudkaraktär,
              har jag försökt illustrera olika personer, i olika åldrar och i
              olika situationer. Förutom karaktärerna, så har jag även
              illustrerat ikoniska områden i Göteborg, såsom Avenyn, Haga och
              Slottsskogen!
            </p>
            <div class="socials">
              <div class="socials">
                <a href="https://www.yrgo.se/utbildningar/game-creator-artist/">
                  <img src="/assets/images/yrgoicon.png"
                /></a>
                <a href="https://www.artstation.com/davidssonart">
                  <img src="/assets/images/artstation.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/assets/images/martin.png"
              alt="Avatar"
              class="avatar"
              style="width: 300px; height: 300px; object-fit: cover"
            />
            <h1>Martin Lindestaf</h1>
            <p class="utbildning">Manusförfattare</p>
            <p class="e-mail">Martin@lindestaf.se</p>
          </div>
          <div class="flip-card-back">
            <p class="textContent">
              I detta projekt jag varit en del av en större grupp och agerat
              bollplank i en mycket underhållande idégenereringsprocess. Som
              manusförfattarstudent och min passion för det skrivna ordet har
              jag tagit på mig rollen som ansvarig över alla texterna i
              projektet. Jag har ihop med mina gruppkamrater suttit och snickrat
              fram ett flöde för spelet som utvecklats och skissat på olika
              sorters utfallsscenarion.
            </p>
            <div class="socials">
              <a href="https://yrgo.se/manusforfattare">
                <img src="/assets/images/yrgoicon.png"
              /></a>
              <a href="https://cargocollective.com/martinlindestaf">
                <img src="/assets/images/portfolio.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
