<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../Build/TemplateData/style.css" />
    <link rel="stylesheet" href="/../Build/TemplateData/about.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">
          <img
            src="/assets/images/raddningsmissionen.png"
            class="logo"
            alt="raddningsmissionen-logo"
          />
        </a>
        <ul>
          <li>
            <a href="/index.html" class="home">Home</a>
            <a href="about.html" class="about">About</a>
            <a href="monthlygiver.html" class="monthly">Månadsgivare</a>
            <a href="volunteer.html" class="volunteer">Volontärer</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="page" id="page-2">
      <div class="grid">
        <div class="card-container">
          <div class="flip">
            <div class="front">
              <h3 class="profile-name">John Doe</h3>
              <h4 class="profile-program">Game Creator Programmer</h4>
            </div>
            <div class="back">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque beatae ratione quos ad consequatur
                impedit accusantium totam iusto temporibus maiores similique, nobis quis quas delectus corrupti
                exercitationem? Fuga deserunt laboriosam velit neque placeat incidunt quod ipsam sint nostrum
                perferendis eius in repellendus eos nihil, quidem officiis laudantium repudiandae modi! Neque esse
                rerum quae iusto quas illo alias harum. Dolor quaerat accusantium natus, corrupti.
              </p>
                <div>

                </div>
            </div>
          </div>
        </div>

        <div class="card-container">
          <div class="flip">
            <div class="front">
              <h3 class="profile-name">John Doe</h3>
              <h4 class="profile-program">Game Creator Programmer</h4>
            </div>
            <div class="back">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque beatae ratione quos ad consequatur
              impedit accusantium totam iusto temporibus maiores similique, nobis quis quas delectus corrupti
              exercitationem? Fuga deserunt laboriosam velit neque placeat incidunt quod ipsam sint nostrum
              perferendis eius in repellendus eos nihil, quidem officiis laudantium repudiandae modi! Neque esse
              rerum quae iusto quas illo alias harum. Dolor quaerat accusantium natus, corrupti.
            </p>
              <div>

              </div>
          </div>
          </div>
        </div>

        <div class="card-container">
          <div class="flip">
            <div class="front">
              <h3 class="profile-name">John Doe</h3>
              <h4 class="profile-program">Game Creator Artist</h4>
            </div>
            <div class="back">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque beatae ratione quos ad consequatur
              impedit accusantium totam iusto temporibus maiores similique, nobis quis quas delectus corrupti
              exercitationem? Fuga deserunt laboriosam velit neque placeat incidunt quod ipsam sint nostrum
              perferendis eius in repellendus eos nihil, quidem officiis laudantium repudiandae modi! Neque esse
              rerum quae iusto quas illo alias harum. Dolor quaerat accusantium natus, corrupti.
            </p>
              <div>

              </div>
          </div>
          </div>
        </div>

        <div class="card-container">
          <div class="flip">
            <div class="front">
              <h3 class="profile-name">John Doe</h3>
              <h4 class="profile-program">UX Designer</h4>
            </div>
            <div class="back">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque beatae ratione quos ad consequatur
              impedit accusantium totam iusto temporibus maiores similique, nobis quis quas delectus corrupti
              exercitationem? Fuga deserunt laboriosam velit neque placeat incidunt quod ipsam sint nostrum
              perferendis eius in repellendus eos nihil, quidem officiis laudantium repudiandae modi! Neque esse
              rerum quae iusto quas illo alias harum. Dolor quaerat accusantium natus, corrupti.
            </p>
              <div>

              </div>
          </div>
          </div>
        </div>

        <div class="card-container">
          <div class="flip">
            <div class="front">
              <h3 class="profile-name">John Doe</h3>
              <h4 class="profile-program">Manusförfattare</h4>
            </div>
            <div class="back">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque beatae ratione quos ad consequatur
              impedit accusantium totam iusto temporibus maiores similique, nobis quis quas delectus corrupti
              exercitationem? Fuga deserunt laboriosam velit neque placeat incidunt quod ipsam sint nostrum
              perferendis eius in repellendus eos nihil, quidem officiis laudantium repudiandae modi! Neque esse
              rerum quae iusto quas illo alias harum. Dolor quaerat accusantium natus, corrupti.
            </p>
              <div>
              </div>
          </div>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</div>


  </body>
</html>
