<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../Build/TemplateData/style.css" />
    <link rel="stylesheet" href="/../Build/TemplateData/monthlygiver.css" />
    <title>Bli månadsgivare</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">
          <img
            src="/assets/images/raddningsmissionen.png"
            class="logo"
            alt="raddningsmissionen-logo"
          />
        </a>
        <ul>
          <li>
            <a href="/index.html" class="home">Hem</a>
            <a href="about.html" class="about">Om oss</a>
            <a href="monthlygiver.html" class="monthly">Månadsgivare</a>
            <a href="volunteer.html" class="volunteer">Volontärer</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="contentWrapper">
      <div class="headlineWrapper">
        <h1>En liten insats kan göra stor skillnad</h1>
      </div>
      <div class="textContent">
        <p>
          När man lever i utsatthet gör varenda liten krona skillnad. Om du blir
          månadsgivare hos oss på Räddningsmissionen kan du vara med och göra
          skillnad. Pengarna går oavkortat till personer som lever i utsatthet i
          Göteborg och vi blir såklart tacksamma för alla bidrag. Som
          månadsgivare är du med och gör vår stad till en snällare och varmare
          plats.
        </p>
        <a href="https://raddningsmissionen.se/gava">Läs mer här >></a>
      </div>
      <div class="hearts">
        <img src="/assets/images/Component 1.svg" />
        <img src="/assets/images/Component 2.svg" />
        <img src="/assets/images/Component 3.svg" />
      </div>
    </div>
  </body>
</html>
