<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <link rel="stylesheet" href="/assets/styles/volunteer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Bli Volontär</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">
          <img
            src="/assets/images/raddningsmissionen.png"
            class="logo"
            alt="raddningsmissionen-logo"
          />
        </a>
        <ul>
          <li>
            <a href="/index.html" class="home">Hem</a>
            <a href="about.html" class="about">Om oss</a>
            <a href="monthlygiver.html" class="monthly">Månadsgivare</a>
            <a href="volunteer.html" class="volunteer">Volontärer</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="contentWrapper">
      <div class="headlineWrapper">
        <h1>Följ med på vår resa</h1>
      </div>
      <div class="textContent">
        <p>
          I alla våra verksamhetsområden har vi eldsjälar som är med och gör
          insatser i form av volontärarbete. Ni gör ett viktigt jobb, utan er
          ute skulle vi inte kunna driva vår verksamhet på Räddningsmissionen.
          Göteborg skulle vara en kallare och tråkigare stad utan er. Bli
          volontär och hjälp oss i vår kamp att göra vår stad lite varmare och
          lite mer kärleksfull.
        </p>
        <a href="https://raddningsmissionen.se/engagera-dig">Läs mer här >></a>
      </div>
      <div class="hearts">
        <img src="/assets/images/Component 1.svg" />
        <img src="/assets/images/Component 2.svg" />
        <img src="/assets/images/Component 3.svg" />
      </div>
    </div>
  </body>
</html>
