.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.headlineWrapper h1 {
  color: var(--orange);
}
.textContent {
  width: 40%;
}
.textContent p {
  font-size: 22px;
  margin-bottom: 30px;
}

.textContent a {
  color: var(--dawnblue);
  font-weight: bold;
  font-size: 19px;
}

.textContent a:hover {
  border-bottom: 2px solid var(--orange);
}

.hearts {
  margin-top: 30px;
}
.hearts img {
  margin-top: 100px;
  padding: 10px;
  height: 80px;
  width: 80px;
}
